/**
 * Web Font Styles, H Styles, Body Text Styles
 *
 * @package Postali Child
 * @author Postali LLC
**/

/* Fonts */
body, h1, h2, h3, h4, h5, h6, p, a, ul {
    // color: $body-text-color;
} 
p, a, ul, ol {

}
ul li, ol li {
    margin: 0 0 0 20px;
    font-size: 18px;
}
dl, blockquote, img {

}

a {
    text-decoration:none;
    transition:$trans;
    &:hover {
        // color:$lt-red;
        text-decoration:none;
    }
}

.btn {
    display:inline-block;
    padding:15px 40px;
    // background-color:$lt-red;
    text-decoration:none;
    // color:$white;
    // border:2px solid $lt-red;
    transition:$trans;
    &:hover {
        // background-color:$dk-red;
    }
}

p {
    font-size:18px;
    line-height: 160%;
    margin-bottom:15px;
    color: $blk;
    font-family: $montserrat;
    display: block;
    font-weight: $normal;
}

ul, 
ol {
    li {
        font-size:16px;
        line-height: 24px;
        margin-bottom:5px;
        color: $blk;
        font-family: $montserrat;
        font-weight: $normal;
    }
}

a {
    color: $blk;
    font-weight: normal;
    &:hover {
        color: $green;
        text-decoration: underline;
    }
    &.button {
        background: $green;
        color: $white;
        font-weight: bold;
        padding: 10px 15px;
        margin-top: 15px;
        border-radius: 10px;
        display: inline-block;
        font-size: 16px;
        text-decoration: none;
        &:hover {
            background: $dkgreen;
            text-decoration: none;
        }
        &::after {
            content: '\203A';
            display: inline-block;
            font-size: 22px;
            position: relative;
            top: 1px;
            left: 3px;
        }
    }
}

h1 {
    @include large-heading;
}

h2 {
    @include medium-heading;
}

h3 {
    font-family: $montserrat;
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    display: block;
    padding-bottom: 15px;
    color: $green;
    @media screen and (max-width: $screen-sm) {
        font-size: 28px;
        line-height: 36px;
    }
}