/**
 * Template Front Page Styles
 *
 * @package Postali Child
 * @author Postali LLC
**/

.home, .page-template-front-page {
    .site-content {
        margin-top: 150px;
        @media screen and (max-width: $screen-lg-md) {
            margin-top:130px;
        }
    }
    .home_hero {
        background-size: 70%;
        background-repeat: no-repeat;
        background-position: right center;
        padding: 0;
        @media screen and (min-width: $screen-sm) and (max-width: 1140px) {
            background-size: cover;
            background-position: center right -200px;
        }
        @media screen and (max-width: $screen-sm) {
            background-size: contain;
            background-position: center top;
        }
        .section-overlay {
            @include overlay-gradient;
            background: linear-gradient(90deg, rgba(57,57,57,1) 33%, rgba(57,57,57,0) 60%);
            min-height: 450px;
            padding: 60px 0;
            @media screen and (max-width: $screen-sm) {
                // background: linear-gradient(0deg, rgba(57,57,57,1) 60%, rgba(57,57,57,0) 85%);
                // padding: 180px 0 60px;
                background: linear-gradient(0deg, #393939 35%, rgba(57,57,57,0) 80%);
                padding: 350px 0 60px;
            }
            @media screen and (max-width: $screen-xs) {
                padding: 250px 0 60px;
                position: relative;
            }
            &:after {
                @media screen and (max-width: $screen-xs) {
                    background: $blk;
                    content: "";
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: -1;
                }
            }
        }
        .hero {
            .large-icon {
                @media screen and (max-width: $screen-sm) {
                    height: 55px;
                    width: auto;
                }
            }
            &_upper {
                .headline {
                    @include large-heading;
                    .green {
                        color: $green;
                    }
                }
                .desc {
                    color: $white;
                }
            }
        }
    }

    #panel2 {
    
        .gform_wrapper {
            @include gravity-form;

            padding: 15px;
            border: 1px solid #ccc;
            background: white;
            border-radius: 6px;

            p.gform_required_legend {
                margin-top: -10px;
            }

            #gform_1 {
                max-width: 100%;
            }
        }
        
        .green-line-holder {
            @include green-heading;
        } 
        h2 {
            @include large-heading;
            color: $blk;
            text-align: center;
        }
    }

    #panel3 {
        .pa-holder {
            @include post-card;
            & > div:last-of-type {
                grid-column: 1/3;
                @media screen and (max-width: $screen-sm) {
                    grid-column: 1;
                }
            }
        }
        .button.practice-areas {
            font-weight: $normal;
            padding: 10px 25px;
        }
    }

    #panel4 {
        .image-holder, 
        .award-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
            flex-wrap: wrap;
            padding: 30px 0 15px;
            .award-holder {
                flex-basis: 30%;
                @media screen and (max-width: $screen-sm) {
                    flex-basis: 80%;
                }
            }
            img {
                padding: 0 10px;
                margin-bottom: 15px;
                &.award {
                    max-width: 450px;
                    width: 100%;
                    @media screen and (max-width: $screen-sm) {
                        margin: 0 auto 30px;
                        width: 85%;
                    }
                }
            }
            .text-award {
                text-align: left;
                h3 {
                    color: $blk;
                    font-size: 30px;
                    line-height: 30px;
                    margin-bottom: 0;
                    padding-bottom: 0;
                }
                p {
                    font-size: 13px;
                }
                @media screen and (max-width: $screen-sm) {
                    padding-bottom: 30px;
                }
            }
        }
        .image-holder {
            img {
                width: 225px;
            }
        }
    }
}

// Espanol Home Page
.page-id-5280 {
    #panel3 {
        .pa-holder {
            & > div:last-of-type {
                grid-column: auto !important;
                
            }
        }
    }
}