/**
 * Global Styles (Body, Buttons, Reusable PHP Blocks)
 *
 * @package Postali Child
 * @author Postali LLC
*/

/** CSS reset */
* {
  box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

html, body {
	font-size: 18px;
	line-height: 1;
	margin: 0 !important;
}

header, nav, footer, article, section { 
	display: block;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-weight: bold;
	font-family: $montserrat;
}

ul {
	list-style-type: disc;
	&.two-column {
		column-count: 2;
		-moz-column-count: 2;
		-webkit-column-count: 2;
		@media screen and (max-width: $screen-sm) {
			padding-left: 0;
			column-count: 1;
			-moz-column-count: 1;
			-webkit-column-count: 1;
		}
	}
}

a {
	font-family: $montserrat;
	color: $dkgreen;
	text-decoration: underline;
}

ul.two-column, ul {
	padding: 0;
	li {
		font-family: $montserrat;
		display: block;
		margin: 0;
		@media screen and (max-width: $screen-sm) {
			margin-left: 15px;
		}
		a, span {
			// color: $white;
			display: inline-block;
			font-weight: $normal;
			font-family: $montserrat;
		}
		a {
			text-decoration: underline;
			&:hover {
				color: $green;
			}
		}
		&::before {
			content: '\203A';
			display: inline-block;
			font-size: 22px;
			position: relative;
			top: 1px;
			left: 3px;
			color: $green;
			font-family: $montserrat;
			margin-right: 10px;
		}
	}
}

blockquote {
	quotes: none;
	&:before, &:after {
		content: '';
		content: none;
	}
}

del {
	text-decoration: line-through;
}

table {
	display: block;
	border-collapse: collapse;
	border-spacing: 0;
	margin: 20px 0;
	tr {
		font-family: $montserrat;
		border-bottom: solid 1px;
		th {
			padding: 10px;
			color: $dkgreen;
			font-size: 16px;
			p {
				font-size: 16px;
				@media screen and (max-width: $screen-xs) {
					font-size: 14px;
				}
			}
			@media screen and (max-width: $screen-xs) {
				padding: 10px 5px 10px 0;
				font-size: 14px;
			}
		}
		td {
			padding: 15px 10px;
			p {
				font-size: 15px;
				@media screen and (max-width: $screen-xs) {
					font-size: 13px;
				}
			}
			@media screen and (max-width: $screen-xs) {
				padding: 15px 5px 15px 0;
			}
			p {
				margin: 0 0 10px 0
			}
		}
	}

}

a img {
	border: none;
}
 
body {
    overflow-x:hidden;
}

section {
    padding: 60px 0;
	&.grey {
		background: $grey;
	}
    @media screen and (max-width: $screen-sm) {
        padding: 60px 0;
    }
    @media screen and (max-width: $screen-xs) {
        padding: 40px 0;
    }
    // &#page-banner {
    //     padding:0;
    // }
}

.container {
    max-width:$screen-lg;
    padding: 0 30px;
    @media screen and (max-width: $screen-sm) {
        padding: 0 20px;
    }
	&.centered {
		margin: 0 auto;
		text-align: center;
	}
}

section {
    padding: 60px 0;
    @media screen and (max-width: $screen-sm) {
        padding: 60px 0;
    }
    @media screen and (max-width: $screen-xs) {
        padding: 40px 0;
    }
    &.black {
		background:$blk;
	}
}

.content-container {
	margin-top: 100px;
}

// columns and spacers //

.columns {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
	flex-wrap: wrap;
	width: 100%;
	align-items: center;
	box-sizing: border-box;
	align-items: flex-start;
	&.hero-holder {
		padding-top: 120px;
	}
	.column-20,
    .column-25,
    .column-50,
    .column-75,
    .column-full,
    .column-33,
    .column-66 {
        display:block;
		position: relative;
		box-sizing: border-box;
		&.centered {
			margin: 0 auto;
			text-align: center;
		}
		&.center-block {
			margin: 0 auto;
		}
	}
	.column-break {
		width:100%;
		height:1px;
	}
	.column-20 {
		width:19.5%;
    }
    .column-25 {
		width:23%;
    }
    .column-50 {
		width:45%;
        @media screen and (max-width:$screen-sm) {
		  width:100% !important;
        }
    }
    .column-75 {
		width:66%;
        @media screen and (max-width:$screen-md) {
			width:100%;
        }
    }
    .column-33 {
		width:30%;
        @media screen and (max-width:$screen-sm) {
		  width:100%;
		}
    }
    .column-66 {
		width:63%;
		&.skinny {
			margin:0 auto;
		}
        @media screen and (max-width:$screen-sm) {
		  width:100%;
        }
    }
    .column-full {
		width:100%;
		justify-content: space-between;
	}
	.column-25,
    .column-50,
    .column-75,
    .column-full,
    .column-33,
    .column-66 {
		@media screen and (max-width:$screen-sm) {
			width:100%;
		}
		&.center {
			margin:0 auto;
		}
	}
	ul {
		&.column-50 {
			@media screen and (max-width: $screen-sm) {
				margin: 0 !important;
			}
		}
	}
}

// spacing elements //

.spacer-break,
.spacer-15,
.spacer-30,
.spacer-60,
.spacer-90,
.spacer-120 {
    display:block;
	width:100%;
	@media screen and (max-width: $screen-xs) {
		&.mobile {
			display:none;
		}
	}
}
.spacer-break { height:1px; }
.spacer-15 { height:15px; }
.spacer-30 { height:30px; }
.spacer-60 { height:60px; }
.spacer-90 { height:90px; }
.spacer-120 { height:120px; }

/* Breadcrumbs */
#breadcrumbs {
	padding: 50px 0 30px;
	margin-top: 0;
	span, a {
		font-family: $lato;
		font-size: 12px;
		line-height: 1.2;
		color: $white;
		text-decoration: none;
		font-weight: $normal;
	}
	a {
		&:hover {
			font-weight: bold;
			text-decoration: underline;
		}
	}
	@media screen and (max-width: $screen-sm) {
		top: 75px;
	}
}

// From old theme
/** Text Highlighting Color **/
::-moz-selection {
  //background:$blue; 
}

::selection {
  //background:$blue; 
}

/** Transitions **/
.smooth {
    transition: .4s ease 0s;
}

/** Images */
img {
  display: block;
  width: auto;
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
}

/** Wordpress image alignment styles **/
img.alignright { float: right; margin: 0 0 1em 1em; }
img.alignleft { float: left; margin: 0 1em 1em 0; }
img.aligncenter { display: block; margin-left: auto; margin-right: auto; }
.alignright { float: right; }
.alignleft { float: left; }
.aligncenter { display: block; margin-left: auto; margin-right: auto; }

.alignleft, .alignright, .aligncenter, .alignnone {
  margin-left: auto;
  margin-right: auto;
}

/** Responsive video embeds **/
.embed-container { 
  position: relative; 
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto;
} 

.embed-container iframe,
.embed-container object,
.embed-container embed { 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/** Vertial align? Fingers crossed **/
.vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/** Utility classes */
.screen-reader-text {
  position: absolute;
  left: -99999em;
}

.clearfix {
  zoom: 1;
  &:before, &:after {
    content: '';
    display: table;
  }
}

.clear, .clearfix:after {
  clear: both;
}

/*start defining structural elements */

.centered { text-align: center; }

/* default content panel */
.textpanel {
	width:100%;
	display:block;
	position:relative;
	padding:60px 0 40px;
}

/** Elements to be hidden */
#primary-nav {
  display: none !important;
}

.mobile {
	display: none;
}

@media (max-width: 990px) {
	.desktop {
		display: none !important;
	}
	.mobile {
		display: block;
	}
}

/*** Global Elements ***/
// Contact Block
#contact-block {
	.green-line-holder {
		@include green-heading;
	}
}

// Drop Downs
#app-cover {
	@include drop-down-select;
}

// Pagination
.pagination {
	@include pagination-styles;
}

// Search
#search.interact-box {
	@include search-styles;

	form[role=search] {
		position: relative;
		&:after {
			position: absolute;
			top: 8px;
			right: 30px;
			content: "\e986";
			font-family: $icomoon;
			font-size: 18px;
			color: $blk;
			cursor: pointer;
		}
	}

}

// Awards Block
#awards-panel {
	.awards-holder {
		width: 100%;
		margin: 0 auto;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-evenly; 
		.award {
			margin: 0 30px;
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			align-items: center;
			justify-content: space-between;
			height: 180px;
			img {
				max-height: 100px;
				width: auto;
				margin: 0 auto;
				// padding: 30px 0;
				padding: 0;
			}
			a {
				text-decoration: none;
                width:100%;

				&:hover {
					text-decoration: underline;
				}
			}

			.award-sub-text {
				font-size: 14px;
				text-align: center;
				color: $white;
				font-family: $montserrat;
				font-style: italic;
				margin-top: 10px;
				line-height: 18px;
			}

			.text-based-award {
				h3, p {
					text-align: center;
					color: $white;
					font-family: $opensans;
				}
				h3 {
					font-size: 22px;
					line-height: 30px;
					padding-bottom: 0;
					margin-top: 0;
				}
				p {
					font-size: 14px;
					font-style: italic;
				}
				@media screen and (max-width: $screen-lg-md) {
					h3 {
						font-size: 18px;
						line-height: 20px;
					}
					p {
						font-size: 12px;
					}
				}
			}
		}
	}
	.slides {
		button {
			-webkit-appearance: auto;
			   -moz-appearance: auto;
			        appearance: auto;
			-webkit-writing-mode: horizontal-tb !important;
			text-rendering: auto;
			color: -internal-light-dark(black, white);
			letter-spacing: normal;
			word-spacing: normal;
			line-height: normal;
			text-transform: none;
			text-indent: 0px;
			text-shadow: none;
			display: inline-block;
			text-align: center;
			align-items: flex-start;
			cursor: default;
			box-sizing: border-box;
			margin: 0em;
			padding: 1px 6px;
			border: none !important;
			background: none !important;
			.arrow-icon {
				color: $white;
				display: block;
				&:hover {
					color: $green;
					cursor: pointer;
				}
				&#next {
					&::before {
						content: '\e8f2';
						font-size: 20px;
						top: 3px;
						position: relative;
						display: block;
						transform: rotate(90deg);
						font-family: $icomoon;
					}
				}
				&#prev {
					&::before {
						content: '\e8f2';
						font-size: 20px;
						top: 3px;
						position: relative;
						display: block;
						transform: rotate(270deg);
						font-family: $icomoon;
					}
				}
			}
		}
	}
}


// Forms
.wpcf7 {
	border: 1px solid #cecece;
	padding: 10px 10px 0 10px;
	background:#fff;
	max-width: 600px;
	margin: 0 auto;
	input[type="submit"] {
		background: #4e9026 !important;
		border: none;
		padding: 15px 30px;
		color: #fff !important;
		font-size: 14px;
		text-transform: capitalize;
		border-radius: 3px;
		margin: 0 auto;
		font-weight: $normal;
		width: auto !important;
	}
	input, textarea {
		font-family: $montserrat;
		width: 100%;
		padding: 12px;
		background: #fafafa;
		border: 1px #f2f2f2 solid;
		border-radius: 3px;
		font-size: 14px;
		line-height: 23px;
		margin: 10px 0;
	}
	.wpcf7-response-output {
		font-size: 20px !important;
		line-height: normal !important;
	}
}
.wpcf7-form-control-wrap.your-name {
	width: 49% !important;
	position: relative;
	display: inline-block;
	margin-right: 1%;
	text-align:left;
	float:left;
	margin-bottom:10px;
	@media screen and (max-width: $screen-xs) {
		width: 100% !important;
		float: unset;
		margin-right: 0;
	}
	input {
		width:100%;
		padding: 12px;
		border:1px solid #cecece;
		background-color:#f8f8f8;
	}
}
.wpcf7-form-control-wrap.your-phone {
	width: 49% !important;
	position: relative;
	display: inline-block;
	margin-left: 1%;
	text-align:left;
	float:left;
	margin-bottom:10px;
	@media screen and (max-width: $screen-xs) {
		width: 100% !important;
		float: unset;
		margin-left: 0;
	}
	input {
		width:100%;
		padding: 12px;
		border:1px solid #cecece;
		background-color:#f8f8f8;
	}
}
.wpcf7-form-control-wrap.your-email {
	width: 100%;
	position: relative;
	display: inline-block;
	text-align: left;
	float: left;
	margin-bottom: 10px;
	input {
		width:100%;
		padding: 12px;
		border:1px solid #cecece;
		background-color:#f8f8f8;
	}
}
.wpcf7-form-control-wrap.your-message {
	width: 100%;
	max-height: 200px !important;
	textarea {
		width: 100%;
		height: 145px;
		border: 1px solid #cecece;
		padding: 12px;
		background-color:#f8f8f8;
	}
}
.grecaptcha-badge { 
	visibility: hidden; 
	opacity: 0;
}

