/**
 * Theme footer
 *
 * @package Postali Child
 * @author Postali LLC
**/

@mixin large-heading {
    display: block;
    font-weight: bold;
    font-size: 55px;
    line-height: 60px;
    font-family: $montserrat;
    color: $white;
    padding: 15px 0 30px;
    @media screen and (max-width: $screen-sm) {
        font-size: 26px;
        line-height: 30px;
    }
}

@mixin medium-heading {
    font-family: $montserrat;
    font-size: 43px;
    line-height: 53px;
    font-weight: bold;
    color: $blk;
    display: block;
    padding: 15px 0 30px;
    text-align: center;
    margin: 0 auto 15px;
}

@mixin small-heading {
    font-family: $montserrat;
    font-size: 21px;
    line-height: 24px;
    font-weight: bold;
    color: $dkgrey;
    padding-bottom: 0;
    margin-bottom: 0;
}

@mixin green-heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    h1, span {
        font-family: $montserrat;
        font-weight: bold;
        font-size: 21px;
        line-height: 25px;
        display: inline-block;
        padding: 0 15px;
        text-align: center;
        text-transform: uppercase;
        color: $green;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
    }
    .green-line {
        display: block;
        background:$green;
        width: 160px;
        height: 2px;
        @media screen and (max-width: $screen-lg-md) {
            display: none;
        }
    }
}

@mixin overlay-gradient {
    padding: 0 0 60px 0;
    background: rgb(57,57,57);
    background: linear-gradient(90deg, rgba(57,57,57,1) 33%, rgba(57,57,57,0) 70%);
    @media screen and (max-width: $screen-xs) {
        background: linear-gradient(0deg, rgba(57,57,57,1) 60%, rgba(57,57,57,0) 85%);
        padding: 0;
    }
}

@mixin hero-styles {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top 30%;
    padding: 0;
    &.short-hero {
        height: 300px;
        .section-overlay {
            height: 100%;
            .container {
                padding-top: 40px;
            }
        }
    }
    @media screen and (max-width: $screen-xs) {
        background-size: contain;
        background-position: center top;
        &.short-hero {
            background-size: cover;
            .section-overlay {
                background: linear-gradient(0deg, #393939 35%, rgba(57,57,57,0) 85%);
            }
        }
    }
    .section-overlay {
        @include overlay-gradient;
    }
}

@mixin post-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    padding-top: 30px;
    @media screen and (max-width: $screen-sm) {
        grid-template-columns: 1fr;
    }
    .card {
        background: white;
        border: 1px solid $dkgrey;
        &_img {
            display: block;
            width: 100%;
        }
        &_content {
            padding: 15px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            .post-meta {
                span {
                    font-size:16px;
                    line-height: 24px;
                    margin-bottom:15px;
                    color: $blk;
                    font-family: $montserrat;
                    display: inline-block;
                    font-weight: $normal;
                    &:first-of-type {
                        border-right: 1px $blk solid;
                        padding-right: 5px;
                        @media screen and (max-width: $screen-sm) {
                            border-right: none;
                        }
                    }
                }
            }
        }
        h2 {
            @include small-heading;
            color: $blk;
            text-transform: uppercase;
            text-align: left;
        }
        .post-title,
        .read-more {
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .card-background {
        background-size: cover;
        background-position: center top -40px;
        background-repeat: no-repeat;
        &.full-width {
            grid-column: 1/3;
        }
        .card {
            background: linear-gradient(0deg, rgba(57,57,57,1) 30%, rgba(57,57,57,0) 100%);
            height: 425px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;
            padding: 30px;
            h2, p {
                color: $white;
                text-align: center;
            }
            .button {
                margin: 10px auto 5px;
                font-weight: $normal;
                text-align: center;
                padding: 15px;
                font-family: $montserrat;
                border-radius: 6px;
                &::after {
                    display: none;
                }
            }
        }
    }
}

@mixin accordions {
    margin: 15px auto;
    &_title {
        display: grid;
        grid-template-columns: 1fr 35px;
        border: 1px solid $green;
        background: $blk;
        padding: 30px 30px 20px;
        h3 {
            display: inline;
            font-family: $josefin;
            line-height: 27px;
            font-size: 24px;
            font-weight: bold;
            text-transform: uppercase;
            color: $white;
        }
        .icon {
            display: inline-block;
            top: -5px;
            position: relative;
            left: 12px;
            &::after {
                content: '\e90a';
                color: $dkgreen;
                display: block;
                font-family: $icomoon;
                font-size: 30px;
                transform: rotate(135deg);
                transition: transform 0.15s linear;
            }
        }
        &.active {
            .icon {
                left: 15.5px;
                top: -5.5px;
                &::after {
                    transform: rotate(0deg);
                }
            }
        }
    }
    &_content {
        display: none;
        padding: 30px 2px 45px;
    }
}


@mixin drop-down-select {
    position: relative;
    width: 250px;
    height: 36px;
    margin: 0 auto;
    @media screen and (max-width:$screen-sm) {
        margin: 0;
    }
    #select-box {
        width: 300px;
        #options-view-button {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            margin: 0;
            opacity: 0;
            cursor: pointer;
            z-index: 3;
            &:checked ~ #options {
                border: 1px solid #e2eded;
                border-color: #eaf1f1 #e4eded #dbe7e7 #e4eded;
            }
            &:checked ~ #options a {
                display: block;
                padding: 12px 14px;    
            }
            &:checked ~ #options #option-bg { display: block; }
        }
        #select-button {
            position: relative;
            height: 16px;
            background-color: $white;
            cursor: pointer;
            height:100%;
            #selected-value {
                background: $grey;
                border: 1px solid #707070;
                border-radius: 0;
                height: 36px;
                padding-top: 7px;
                padding-left: 7px;
                .filter-holder {
                    font-family: $montserrat;
                }
            }
            #chevrons {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                width: 12px;
                padding: 9px 14px;
                &::before {
                    content: '\e8f2';
                    color: $blk;
                    display: block;
                    font-family: $icomoon;
                    font-size: 14px;
                    transform: rotate(180deg);
                }
            }
        }
        #options {
            position: absolute;
            top: 35px;
            right: 0;
            left: 0;
            width: 250px;
            margin: 0 auto;
            background-color: #fff;
            z-index: 2;
            .options {
                position: absolute;
                left: 0;
                width: 100%;
                a {
                    display: none;
                    padding: 0;
                    color:$green;
                }
            }
        }
    }

    .option, .label {
        color: $green;
        font-size: 16px;
    }
    
    .option {
        position: relative;
        line-height: 1;
        transition: 0.3s ease all;
        z-index: 2;
        text-align: center;
        &:hover ~ #option-bg { background-color: $green; }
        &:hover a { color: $white; }
    }

    a {
        display: none;
        padding: 0;
        color:$green;
        font-family: $lato;

    }

    @-webkit-keyframes moveup {
        0%{ bottom: -25px; opacity: 0;}
        100%{ bottom: 0; opacity: 1;}
    }

    @keyframes moveup {
        0%{ bottom: -25px; opacity: 0;}
        100%{ bottom: 0; opacity: 1;}
    }

    @-webkit-keyframes movedown {
        0%{ top: -25px; opacity: 0;}
        100%{ top: 0; opacity: 1;}
    }

    @keyframes movedown {
        0%{ top: -25px; opacity: 0;}
        100%{ top: 0; opacity: 1;}
    }

    #option-bg {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        height: 40px;
        transition: 0.3s ease all;
        z-index: 1;
        display: none;
    }

    .option:nth-child(2):hover ~ #option-bg { top: 40px; }
    .option:nth-child(3):hover ~ #option-bg { top: 80px; }
    .option:nth-child(4):hover ~ #option-bg { top: 120px; }
    .option:nth-child(5):hover ~ #option-bg { top: 160px; }
    .option:nth-child(6):hover ~ #option-bg { top: 200px; }
    .option:nth-child(7):hover ~ #option-bg { top: 240px; }
    .option:nth-child(8):hover ~ #option-bg { top: 280px; }
    .option:nth-child(9):hover ~ #option-bg { top: 320px; }
    .option:nth-child(10):hover ~ #option-bg { top: 360px; }
    .option:nth-child(11):hover ~ #option-bg { top: 400px; }
    .option:nth-child(12):hover ~ #option-bg { top: 440px; }
    .option:nth-child(13):hover ~ #option-bg { top: 480px; }
    .option:nth-child(14):hover ~ #option-bg { top: 520px; }
    .option:nth-child(15):hover ~ #option-bg { top: 560px; }
    .option:nth-child(16):hover ~ #option-bg { top: 600px; }
    .option:nth-child(17):hover ~ #option-bg { top: 640px; }
    .option:nth-child(18):hover ~ #option-bg { top: 680px; }
    .option:nth-child(19):hover ~ #option-bg { top: 720px; }
}

@mixin pagination-styles {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
    padding: 30px 0 15px; 
    .nav-links {
        .page-numbers {
            display: inline-block;
            width: 36px;
            height: 36px;
            border: 1px solid $green;
            border-radius: 50%;
            font-family: $lato;
            font-size: 16px;
            line-height: 34px;
            color: $green;
            text-align: center;
            text-decoration: none;
            &:hover {
                background: $green;
                color: $white;
            }
            &.current {
                border: 1px solid $dkgreen;
                background: $dkgreen;
                color: $white;
                font-weight: bold;
            }
            &.next,
            &.prev {
                border: none;
                &:hover {
                    background: none;
                    .arrow-icon::before {
                        color: $green;
                    }
                }
                .arrow-icon {
                    color: $dkgreen;
                    &#next {
                        &::before {
                            content: '→';
                            font-size: 24px;
                            top: 3px;
                            position: relative;
                        }
                    }
                    &#prev {
                        &::before {
                            content: '←';
                            font-size: 24px;
                            top: 3px;
                            position: relative;
                        }
                    }
                }
            }
        }
    }
}

@mixin search-styles {
    display: inline-block;
    input[type=text] {
        background: $grey;
        border: 1px solid #707070;
        border-radius: 0;
        height: 36px;
        width: 300px;
    }
    input[type=checkbox] {
        background: $grey;
    }
    #select-box {
        width: 300px;
    }
    button[type=submit] {
        opacity: 0;
        width: 1px;
    }
}

@mixin gravity-form {
    p.gform_required_legend {
        font-size: 12px;
        font-weight: bold;
        margin-top: 40px;
    }

    #gform_1 {
        border: 0;
        max-width: 66%;
        margin:20px auto 0;

        @media screen and (max-width:$screen-sm) {
            max-width: 100%;
        }

        .gform_fields {
            row-gap: 15px;
        }
        
        input, textarea {
            font-family: $montserrat;
            background:#fafafa;
            border: 1px solid #ccc;
            border-radius: 6px;
            box-shadow: none;
            text-align: left;
        }

        label {
            color: #646464 !important;
        }
        
        input[type="submit"] {
            float: left;
            background:$green;
            border:none;

            &:hover {
                background:#444;
            }
        }
    }
}

